.idea/
.tox/
__pycache__/
.ipynb_checkpoints/
dist/
db/

.DS_Store
.template.db
.vscode
.venv

.coverage.*
.coverage
coverage.*

docs/_build/
docs/src/
docs/datamodels/*/*.md

notebooks/output/*json
notebooks/output/*tsv
notebooks/input/*
notebooks/*/output/*json
notebooks/*/output/*tsv
notebooks/api-key.txt

tests/output/
tests/input/*_conf.json
